* {
    margin: 0px;
    padding: 0px;
    font-family: poppins, sans-serif;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #ffff00, #ff0000);
    border-radius: 1rem;
    cursor: default;
}

body {
    position: relative;
    background-color: #060000;
    height: 100%;
    overflow: hidden;
}

header {
    margin: 1.3rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}

h2 {
    align-self: center;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: stretch;
}

.searchBar input {
    width: stretch;
    padding: 0.6rem 1em;
    border-radius: 1rem;
    border: 0.2rem solid #303030;
    background-color: #060000;
    color: white;
    outline: none;
}

input::placeholder {
    color: #888;
}

.searchBar input:focus, .searchBar input:hover {
    background:
        linear-gradient(#060000, #060000) padding-box,
        linear-gradient(135deg, #ffff00, #ff0000) border-box;
    border: 0.2rem solid transparent;
}

.topLeftbtns {
    display: flex;
    justify-content: flex-end;
    column-gap: 0.5rem;
}

.runQuery, .OpScrBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        linear-gradient(#060000, #060000) padding-box,
        linear-gradient(135deg, #303030, #303030) border-box;
    border: 0.2rem solid transparent;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 0.7rem;
    width: 3rem;
    height: stretch;
    cursor: default;
}

.runQuery:hover, .OpScrBtn:hover {
    background:
        linear-gradient(#060000, #060000) padding-box,
        linear-gradient(135deg, #ffff00, #ff0000) border-box;
}

.runQuery:active, .OpScrBtn:active {
    background:
        linear-gradient(#060000, #060000) padding-box,
        linear-gradient(135deg, #303030, #303030) border-box;
}

hr {
    background:
        linear-gradient(#060000, #060000) padding-box,
        linear-gradient(135deg, #ffff00, #ff0000) border-box;
    border: 0.2rem solid transparent;
    border-radius: 1rem;
    margin: 1rem 3rem;
}

.popUpWindow {
    display: none;
    grid-template-rows: 1fr 0.3fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "meg meg"
        "btn1 btn2";
    place-items: center;
    width: 25%;
    background:
        linear-gradient(#060000, #060000) padding-box,
        linear-gradient(135deg, #ffff00, #ff0000) border-box;
    border: 0.2rem solid transparent;
    border-radius: 1rem;
    position: fixed;
    left: 37vw;
    top: 24vh;
    cursor: grab;
    will-change: transform;
}

.message {
    grid-area: meg;
    padding: 2em;
    font-size: 0.8rem;
}

.no, .yes, .cancel, .execute{
    background-color: #060000;
    outline: none;
    border: none;
    width: 100%;
    height: 3rem;
} 

.no, .cancel {
    grid-area: btn1;
    border-bottom-left-radius: 1rem;
}

.yes, .execute {
    grid-area: btn2;
    border-bottom-right-radius: 1rem;
}

.no:hover, .yes:hover,
.cancel:hover, .execute:hover {
    background-color: #181818;
    font-size: 1.1rem;
}

.popUpQueryWindow {
    width: 50%;
    height: 21.8rem;
    display: none;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "title title"
        "queryBox queryBox"
        "btn1 btn2";
    place-items: center;
    background: linear-gradient(#060000, #060000) padding-box, linear-gradient(135deg, #ffff00, #ff0000) border-box;
    border: 0.2rem solid transparent;
    border-radius: 1rem;
    position: fixed;
    top: 14vh;
    left: 25vw;
    cursor: grab;
    will-change: transform;
}

.popUpQueryWindow .popUpTitle {
    grid-area: title;
    padding: 1em 1em 0.5em 1em;
    width: stretch;
    font-weight: bold;
    text-align: left;
}

.editor {
    grid-area: queryBox;
    font-size: 0.8rem;
    width: stretch;
    height: 16rem;
    display: flex;
    overflow: hidden;
}

.lineNumbers {
    background: #111;
    color: #888;
    padding: 1em 0.5em;
    text-align: right;
    user-select: none;
    font-family: monospace;
    font-size: 1em;
    overflow: hidden;
    white-space: pre;
}

.queryBox {
    padding: 1em 1rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    background-color: #060000;
    width: inherit;
    outline: none;
    border: none;
    resize: none;
    font-family: monospace;
}

.queryBox::-webkit-scrollbar {
    width: 10px;
}

.queryBox::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1rem;
}

.outputScreen {
    display: none;
    background: linear-gradient(#060000, #060000) padding-box, linear-gradient(135deg, #ffff00, #ff0000) border-box;
    border: 0.2rem solid transparent;
    border-radius: 1rem;
    position: fixed;
    left: 25vw;
    top: 12vh;
    width: 50vw;
    min-height: 50vh;
    max-height: 75vh;
    padding: 1rem;
    z-index: 999;
    cursor: grab;
    will-change: transform;
}

.outputScreen .popUpTitle {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-bottom: 1em;
}

.outputScreenClose {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    transform: rotate(45deg);
    width: 2rem;
    height: 2rem;
    opacity: 1;
}

.result {
    min-height: 16rem;
    white-space: preserve;
    overflow-y: scroll;
    max-height: 70vh;
}