.tableTemplate {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    max-height: 69vh;
    width: min-content;
    min-width: max-content;
    border: 2px solid var(--color10);
}

.columnNames {
    display: flex;
    border-top: 2px solid var(--color10);
    border-bottom: 2px solid var(--color10);
}

.tableData {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.dataRow {
    position: relative;
    display: flex;
    align-items: center;
}

.columnNames p, .tableData input {
    border: 2px solid var(--color6);
    outline: none;
    background-color: var(--color8);
    color: var(--color4);
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 2.3rem;
    padding: 0 0.5rem;
}

.columnNames p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableData input {
    font-weight: normal;
}

.tableTemplateBtns {
    display: flex;
    padding: 0.5rem;
    column-gap: 0.5rem;
}

.deleteRow {
    position: absolute;
    left: 0.5%;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.deleteRow:hover {
    border: 2px solid var(--color10);
}

.deleteRow:active {
    border: 2px solid transparent;
}

.insertData {
    display: none;
}

.deleteColumn {
    display: flex;
    height: stretch;
    align-items: center;
}