.fromDisplay2 {
    display: none;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 1vh;
}

#tableCreation {
    position: relative;
    background: 
        linear-gradient(var(--color3), var(--color3)) padding-box, 
        linear-gradient(145deg, var(--color1), var(--color2)) border-box;
    border: 0.2rem solid transparent;
    border-radius: 1rem;
    padding: 0.7em;
    min-width: 85vw;
    min-height: 85vh;
    opacity: 1;
    z-index: 1;
}

.CloseCross2 {
    position: absolute;
    right: 1rem;
    transform: rotate(45deg);
    width: 2rem;
    height: 2rem;
    opacity: 1;
}

.formTitle {
    padding-left: 3em;
    padding-bottom: 1rem;
    font-weight: bold;
}

#tableNameInput {
    background-color: var(--color7);
    color: var(--color4);
    caret-color: var(--color4);
    padding: 0.4rem;
    border: 0.2rem solid var(--color7);
    outline: none;
    margin-left: 1rem;
    width: 16rem;
}

.columnName,
.expression,
.sizeInput {
    background-color: var(--color7);
    color: var(--color4);
    caret-color: var(--color4);
    padding: 0.4rem;
    border: 0.2rem solid var(--color7);
    outline: none;
}

.columnName, .expression, .sizeInput {
    width: -webkit-fill-available;
}

.sizeInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
}

.columnName:hover,
#tableNameInput:hover,
.expression:hover,
.sizeInput:hover {
    border-color: var(--color10);
}

.columnName:active,
#tableNameInput:active,
.expression:active,
.sizeInput:active {
    border-color: var(--color7);
}

.columnName:-webkit-autofill,
#tableNameInput:-webkit-autofill,
.expression:-webkit-autofill,
.columnName:-webkit-autofill:hover,
#tableNameInput:-webkit-autofill:hover,
.expression:-webkit-autofill:hover,
.columnName:-webkit-autofill:focus,
#tableNameInput:-webkit-autofill:focus,
.expression:-webkit-autofill:focus,
.columnName:-webkit-autofill:active,
#tableNameInput:-webkit-autofill:active,
.expression:-webkit-autofill:active {
    -webkit-box-shadow: inset 0 0 0 1000px var(--color7);
    -webkit-text-fill-color: var(--color4);
    caret-color: var(--color4);
    outline: none;
    border: 0.2rem solid var(--color7);
}

.tableNameInputDiv {
    padding-bottom: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 0.2rem;
    padding-bottom: 0.2rem;
}

.columnNameInputDiv,
.defaultValueDiv {
    width: 15.2rem;
}

.dataType {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color7);
    border: 0.2rem solid var(--color7);
    cursor: default;
    padding: 0.4rem;
    width: 7.53rem;
}

.dataType:hover {
    border: 0.2rem solid var(--color10);
}

.dataType:active {
    border: 0.2rem solid var(--color7);
}

.dataTypeList {
    position: absolute;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background:
        linear-gradient(var(--color3), var(--color3)) padding-box,
        linear-gradient(145deg, var(--color1), var(--color2)) border-box;
    border: 0.2rem solid transparent;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    width: 0rem;
    height: 0rem;
    opacity: 0;
    overflow: hidden;
    transition:
        width 0.2s linear 0.2s,
        height 0.2s linear 0.4s;
    z-index: 999;
}

li {
    width: 6rem;
    text-align: center;
    padding: 0.3rem;
}

li:hover {
    background-color: var(--color7);
    width: 100%;
}

li[value="INT"]:hover {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

li[value="BOOLEAN"]:hover {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

.sizeInputDiv {
    width: 3.5rem;
}

.btn {
    background-color: var(--color7);
    color: var(--color4);
    border: 0.2rem solid transparent;
    padding: 0.45rem;
    font-size: 0.84rem;
}

input[type="checkbox"]:checked+label.btn,
input[type="radio"]:checked+label.Pk,
input[type="radio"]:checked+label.Ai {
    border: 0.2rem solid var(--color10);
}

input[type="checkbox"]:not(:checked)+label.btn {
    border: 0.2rem solid var(--color7);
}

.AddRemoveRow {
    display: flex;
    width: 100%;
}

#AddRow,
#RemoveRow {
    width: 50%;
    background-color: var(--color3);
    border: 0.2rem solid var(--color7);
    font-size: 2rem;
}

#AddRow:hover,
#RemoveRow:hover,
#resetBtn:hover,
#createBtn:hover {
    border-color: var(--color10);
}

#AddRow:active,
#RemoveRow:active {
    border-color: var(--color7);
}

.formButtons {
    display: flex;
    column-gap: 0.7rem;
    justify-content: flex-end;
    padding-right: 1rem;
    padding-top: 1rem;
}

#resetBtn,
#createBtn {
    background-color: var(--color3);
    border: 0.2rem solid var(--color7);
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

#resetBtn:active,
#createBtn:active {
    border-color: var(--color7);
}