.tableTemplate {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    max-height: 69vh;
    width: min-content;
    min-width: max-content;
    border: 2px solid var(--color10);
}

.columnNames {
    display: flex;
    border-top: 2px solid var(--color10);
    border-bottom: 2px solid var(--color10);
}


.tableData {
    width: 100.55%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.dataRow {
    display: flex;
}

.columnNames input, .tableData input {
    border: 1px solid var(--color6);
    outline: none;
    background-color: var(--color8);
    color: var(--color4);
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 2rem;
    padding: 0 0.5rem;
}

.tableData input {
    font-weight: normal;
}

.tableTemplateBtns {
    display: flex;
    padding: 0.5rem;
    column-gap: 0.5rem;
}