* {
    margin: 0px;
    padding: 0px;
    font-family: poppins, sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060000;
    width: 100vw;
    height: 100vh;
}

.popUpWindow {
    display: grid;
    grid-template-rows: 1fr 0.3fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "meg meg"
        "btn1 btn2";
    place-items: center;
    width: 25%;
    height: 35%;
    z-index: 3;
    background: linear-gradient(#060000, #060000) padding-box, linear-gradient(145deg, #ffff00, #ff0000) border-box;
    border: 0.2rem solid transparent;
    border-radius: 1rem;
}

.message {
    grid-area: meg;
    padding: 2em;
    font-size: 0.8rem;
}

.no {
    background-color: #060000;
    grid-area: btn1;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 1rem;
    
}

.yes {
    background-color: #060000;
    grid-area: btn2;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 1rem;
}

.no:hover, .yes:hover {
    background-color: #0d0d0d;
    font-size: 1.1rem;
}