h3 {
    margin: 0 3rem;
}

.SvgGridTemplate {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(11rem, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    place-items: center;
    margin: 1rem 2rem;
    overflow-y: auto;
    height: 75vh;
    width: stretch;
}

.SvgBlock {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    row-gap: 0.3rem;
    flex-direction: column;
    align-items: center;
}

.SvgBlock:hover .tooltip,
.SvgBlock:hover .deleteSvg {
    opacity: 1;
}

.addSvg {
    background:
        linear-gradient(var(--color3), var(--color3)) padding-box,
        linear-gradient(145deg, var(--color3), var(--color3)) border-box;
    border: 0.3rem solid transparent;
    border-radius: 1rem;
    padding: 0.5rem;
    contain: paint;
}

.addSvg:hover {
    background:
        linear-gradient(var(--color3), var(--color3)) padding-box,
        linear-gradient(145deg, var(--color1), var(--color2)) border-box;
}

.addSvg .red,
.addSvg .yellow,
.searchSvg .red,
.searchSvg .yellow {
    stop-color: var(--color6);
}

.addSvg:hover .red,
.searchBar:hover .red {
    stop-color: var(--color2);
}

.addSvg:hover .yellow,
.searchBar:hover .yellow {
    stop-color: var(--color1);
}

.searchBar:focus-within .red {
    stop-color: var(--color2);
}

.searchBar:focus-within .yellow {
    stop-color: var(--color1);
}

.tooltip {
    background:
        linear-gradient(var(--color3), var(--color3)) padding-box,
        linear-gradient(145deg, var(--color1), var(--color2)) border-box;
    border: 0.2rem solid transparent;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 0.7rem;
    opacity: 0;
    transition: opacity 0.2s linear 0.5s;
    pointer-events: none;
    overflow-wrap: anywhere;
}

.fromDisplay {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    position: absolute;
    top: 32vh;
    z-index: -1;
}

#NameInput {
    background:
        linear-gradient(var(--color3), var(--color3)) padding-box,
        linear-gradient(145deg, var(--color1), var(--color2)) border-box;
    border: 0.2rem solid transparent;
    border-radius: 1rem;
    padding: 0.7em;
    width: 0rem;
    opacity: 0;
    transition: all 1s ease-in-out 0.5s;
    z-index: 1;
}

#nameInput {
    background-color: var(--color3);
    color: var(--color4);
    outline: none;
    border: transparent;
    width: -webkit-fill-available;
    caret-color: var(--color4);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: inset 0 0 0 1000px var(--color3);
    -webkit-text-fill-color: var(--color4);
    caret-color: var(--color4);
}

.CloseCross {
    transform: rotate(45deg);
    width: 2rem;
    height: 2rem;
    opacity: 0;
    transition: opacity 1s linear 1s;
}

.CloseCross .red,
.CloseCross .yellow,
.crossDelete .red,
.crossDelete .yellow,
.CloseCross2 .red,
.CloseCross2 .yellow,
.outputScreenClose .red,
.outputScreenClose .yellow {
    stop-color: var(--color6);
}

.CloseCross:hover .red,
.crossDelete:hover .red,
.CloseCross2:hover .red,
.outputScreenClose:hover .red {
    stop-color: var(--color2);
}

.CloseCross:hover .yellow,
.crossDelete:hover .yellow,
.CloseCross2:hover .yellow,
.outputScreenClose:hover .yellow {
    stop-color: var(--color1);
}

.tooltipWrapper {
    position: sticky;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    z-index: 1;
}

.deleteSvg {
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s linear 0.5s;
    pointer-events: auto;
}